apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: promtail-loki-credentials
  namespace: promtail
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: azure-key-vault-store
  target:
    name: promtail-loki-credentials
    creationPolicy: Owner
    template:
      engineVersion: v2
      type: Opaque
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: loki-gateway-username
    - secretKey: password
      remoteRef:
        key: loki-gateway-password
