apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      securityContext:
        fsGroup: 1000 # node GID
        runAsUser: 1000 # node UID
        runAsGroup: 1000 # node GID
      restartPolicy: Always
      containers:
        - name: audiobookshelf
          image: ghcr.io/advplyr/audiobookshelf:2.30.0
          securityContext:
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 1500m
              memory: 2Gi
          ports:
            - containerPort: 3005
              protocol: TCP
          volumeMounts:
            - name: audiobookshelf-data
              mountPath: /audiobooks
              subPath: audiobooks
            - name: audiobookshelf-data
              mountPath: /podcasts
              subPath: podcasts
            - name: audiobookshelf-data
              mountPath: /config
              subPath: config
            - name: audiobookshelf-data
              mountPath: /metadata
              subPath: metadata
          envFrom:
            - configMapRef:
                name: audiobookshelf-configmap
      volumes:
        - name: audiobookshelf-data
          persistentVolumeClaim:
            claimName: audiobookshelf-data-pvc
