apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-credentials
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: azure-key-vault-store
  target:
    name: grafana-admin-credentials # The name of the Kubernetes secret that will get created (in the "renovate" namespace)
    creationPolicy: Owner
  data:
    - secretKey: admin-user
      remoteRef:
        key: grafana-admin-user # Azure Key Vault secret name
    - secretKey: admin-password
      remoteRef:
        key: grafana-admin-password # Azure Key Vault secret name
