apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ../../base/kube-prometheus-stack/
patches:
  - target:
      kind: HelmRelease
      name: kube-prometheus-stack
    patch: |
      - op: add
        path: /spec/valuesFrom
        value:
          - kind: ConfigMap
            name: prometheus-cluster-config
            valuesKey: values.yaml
